@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  width: 100%;
  min-height: 100vh;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

/* #__next {
  background: linear-gradient(0deg, #A0AEC0, #EDF2F7);
} */

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}

*::-webkit-scrollbar-track {
  background-color: #e2e8f0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

.active-top {
  transition: 1s ease;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body {
  font-size: 1.1em;
  margin: 2em 0 2em 0;
}

.post-body strong {
  font-weight: 600;
}

.post-body em {
  font-weight: normal;
}

.post-body del {
  font-weight: normal;
}

.post-body strike {
  font-weight: normal;
}

.post-body sup {
  font-weight: normal;
}

.post-body small {
  font-weight: normal;
}

.post-body blockquote {
  font-weight: normal;
}

.post-body img {
  margin: auto;
  padding: 0.5em 0 0.5em 0;
  max-width: 640px;
  max-height: 480px;
  object-fit: scale-down;
  border-radius: 8px;
}

.post-body h1 {
  font-size: 2.2em;
  font-weight: 600;
  margin: 0.6em 0 0.3em 0;
}

.post-body h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0.6em 0 0.3em 0;
}

.post-body h3 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0.6em 0 0.3em 0;
}

.post-body h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0 0.3em 0;
}

.post-body h5 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 1em 0 0.3em 0;
}

.post-body h6 {
  font-size: 1em;
  font-weight: 500;
  margin: 1em 0 0.3em 0;
}

.post-body a {
  color: #4a5568;
  text-decoration: underline;
}

.post-body a:hover {
  color: #63b3ed;
}

.post-body p {
  font-weight: light;
  margin: 0.8em 0 0.3em 0;
  line-height: 2em;
}

.post-body ul {
  margin: 1em 0 1em 2em;
}

.post-body ol {
  margin: 1em 0 1em 2em;
}

.post-body li {
  line-height: 2em;
}

.post-body hr {
  background-color: #4a5568;
  margin: 1em 0 1em 0;
}

.post-body p code {
  color: #6b46c1;
  background: #f7fafc;
  border: 1px solid #e2e8f0;
  font-weight: 600;
  border-radius: 8px;
  margin: 0 0.1em 0 0.1em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  overflow: auto;
  font-size: 2em;
}

.post-body pre code {
  display: block;
  background: #f7fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin: 1.2em 0 0.8em 0;
  padding: 2em 1.2em 2em 1.2em;
  line-height: 2;
  overflow: auto;
  font-size: 0.9em;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 30em) {
  .posts {
    grid-template-columns: 1fr;
  }

  .summary {
    -webkit-line-clamp: 2;
  }

  .post-body pre code {
    font-size: 1em;
  }
}

@media screen and (min-width: 48em) {
  .summary {
    -webkit-line-clamp: 2;
  }

  .post-body pre code {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 62em) {
  .summary {
    -webkit-line-clamp: 2;
  }

  .post-body pre code {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 80em) {
}

@media screen and (min-width: 96em) {
}
